@model IEnumerable<PersonModel>

@{
    ViewData["Title"] = "People ";
}


<h3> People </h3>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "IDPeople")'">Add Person</button>
</div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> City </th>
            <th scope="col"> Languages </th>
            <th scope="col"> Details </th>
            <th scope="col"> Delete </th>
        </tr>
    </thead>

    @if (Model.Any() == true)
    {
        <tbody>
        @foreach (var item in Model)
        {
            <partial name="_personIDPartial" model="item" />
        }
        </tbody>
    }
</table>
