
@{
    ViewData["Title"] = "Home";
}


@if (ViewBag.headline != null)
{
    <h2>@ViewBag.headline</h2>
}

@if (ViewBag.text != null)
{
    <div>
        @ViewBag.text


    </div>
}

<div id="search">
    <form>
        search for stuff

    </form>
    blabla search bla
</div>

<div id="addPerson">
    add ad a
</div>

<div id="listOfPeople">

    <table>
        <tr>
            <th> name</th>
            <th> citee</th>
            <th> Tel!</th>
            <th> DELeltelerter</th> <!--//klickbar. Ta bort allt. KOm ihåg de. om det hinnst -->
        </tr>

        <!---@foreach   - -->



    </table>
    liist
</div>