@model City

@{
    ViewData["Title"] = "Cities ";
}


<h1>Entity Framework Cities </h1>

<div id="errorEFMessages"></div>



<div id="addCity">
    <form asp-controller="City" asp-action="CityAdd" method="post" role="form">

        <div>
            <label asp-for="Name"></label><br />
            <input asp-for="Name" /><br />
            <span style="color:rebeccapurple" asp-validation-for="Name"></span> <br />
            <div class="control-label">Country</div>
            <select asp-for="CurrentCountry" class="form-control" asp-items="ViewBag.Countries"></select><br />

        </div>
        <div>
            <input type="submit" class="btn btn-primary" name="btnAddCity" value="Add City" />
        </div>
    </form>
</div>

<div id="CityEFList"></div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary" onclick="listTheEFCities()" value="List the Cities" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary" onclick="addEFCity()" value="Add a city" />
        </div>
    </div>
</div>
