@{
    ViewData["Title"] = "Entity Framework Index ";
}

<div>
    <a type="button" class="btn btn-outline-success-lg" href="EntityFramework/Peoples">People</a>
    <br />
    <a type="button" class="btn btn-outline-success-lg" href="EntityFramework/Cities">Cities</a>
    <br />
    <a type="button" class="btn btn-outline-success-lg" href="EntityFramework/Countries">Countries</a>
    <br />
    <a type="button" class="btn btn-outline-success-lg" href="EntityFramework/Languages">Languages</a>
    <br />


</div>