@model Country

@{
    ViewData["Title"] = "Country Details ";
}


<h1> Country Details </h1>

@if (Model != null)
{

    <div class="container" id="add">
        <form asp-controller="IDCountries" asp-action="CountryEdit" method="post" role="form">
            <div>
                <label asp-for="Id">Country ID: @Model.Id </label><br />
                <input asp-for="Id" type="text" value="@Model.Id" hidden/>
            </div>

            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" value="@Model.Name" /><br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" name="btnEditCountry" value="Save" />
            </div>


        </form>
        <div>
            @if (Model.Cities.Count() > 0)
            {
                
                <div class="container" id="fet">
                    <div class="row">
                        <div class="col-sm-2"> Cities </div>
                    </div>

                    @foreach (City item in Model.Cities)
                    {
                        <partial name="_countryIDCityPartial" model="item" />
                    }

                </div>
            }
        </div>
    </div>
}
else
{
    <span style="color:red">No country data available</span>
}