@model Country

@{
    ViewData["Title"] = "Country Details ";
}


<h3> Country Details </h3>

@if (Model != null)
{

    <div class="container" id="add">
        <form asp-controller="IDCountries" asp-action="CountryEdit" method="post" role="form">
            <div>
                <label asp-for="Id">Country ID: @Model.Id </label><br />
                <input asp-for="Id" type="text" value="@Model.Id" hidden/>
            </div>

            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" value="@Model.Name" /><br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" name="btnEditCountry" value="Save" />
            </div>


        </form>
        <br />
        <div>
            @if (Model.Cities.Count() > 0)
            {

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Cities</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (City item in Model.Cities)
                        {
                            <partial name="_countryIDCityPartial" model="item" />
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}
else
{
    <span style="color:red">No country data available</span>
}