@model IEnumerable<Country>

@{
    ViewData["Title"] = "Countries ";
}


<h1> Countries </h1>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "IDCountries")'">Add Country</button>
</div>

<div id="errorEFMessages"></div>

<div class="container" id="fet">
    <div class="row">
        <div class="col-sm-2"> Name </div>
        <div class="col-sm-2"> Cities </div>
        <div class="col-sm-2"> Details </div>
        <div class="col-sm-2"> Delete </div>
    </div>
</div>

@if (Model.Any() == true)
{
    @foreach (var item in Model)
    {
        <partial name="_countryIDPartial" model="item" />
    }
}
