@model IEnumerable<Country>

@{
    ViewData["Title"] = "Countries ";
}


<h3> Countries </h3>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "IDCountries")'">Add Country</button>
    <br />
</div>

<div id="errorEFMessages"></div>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Cities </th>
            <th scope="col"> Details </th>
            <th scope="col"> Delete </th>
        </tr>
    </thead>

    @if (Model.Any() == true)
    {   
        <tbody>
            @foreach (var item in Model)
            {
                <partial name="_countryIDPartial" model="item" />
            }
        </tbody>
    }
</table>