@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Admins ";
}

<h3> Admins </h3>


<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"> Username </th>
            <th scope="col"> E-mail </th>
        </tr>
    </thead>
    @if (Model.Any() == true)
    {
        <tbody>
        @foreach (var item in Model)
        {
            <partial name="_usersIDAdminPartial" model="item" />
        }
        </tbody>
    }
</table>
