
@{
    ViewData["Title"] = "Application Users ";
}


<h1> Application Users </h1>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Admins", "IDUsers")'">Admins</button>
</div>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Users", "IDUsers")'">Users</button>
</div>