
@{
    ViewData["Title"] = "Application Users ";
}


<h3> Application Users </h3>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Admins", "IDUsers")'">Admins</button>
</div>
<br />
<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Users", "IDUsers")'">Users</button>
</div>