@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users ";
}


<h1> Users </h1>


<div class="container" id="fet">
    <div class="row">
        <div class="col-sm-2"> Name </div>
        <div class="col-sm-2"> E-mail </div>
        <div class="col-sm-2"> Admin? </div>
        <div class="col-sm-2"> Add  </div>
        <div class="col-sm-2"> Remove </div>
    </div>
</div>

@if (Model.Any() == true)
{
    @foreach (var item in Model)
    {
        <partial name="_userIDPartial" model="item" />
    }
}
