@model Language


@{
    ViewData["Title"] = "Add a Language ";
}


<h1> Add a Language </h1>

@if (User.IsInRole("Admin"))
{
    <div id="add">
        <form asp-controller="IDLanguages" asp-action="LanguageAdd" method="post" role="form">

            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" /><br />
                <span style="color:rebeccapurple" asp-validation-for="Name"></span> <br />
            </div>

            <div>
                <input type="submit" class="btn btn-primary" name="btnAddLanguage" value="Save" />
            </div>
        </form>
    </div>
}