@model Language

@{
    ViewData["Title"] = "Language Details ";
}


<h3> Language Details </h3>

@if (Model != null)
{

    <div class="container" id="add">
        <form asp-controller="IDLanguages" asp-action="LanguageEdit" method="post" role="form">
            <div>
                <label asp-for="Id">Language ID: @Model.Id </label><br />
                <input asp-for="Id" type="text" value="@Model.Id" hidden/>
            </div>

            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" value="@Model.Name" /><br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" name="btnEditLanguage" value="Save" />
            </div>


        </form>
        <br />
        <div>
            
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (PersonModel item in Model.Persons)
                    {
                        <partial name="_languageIDPersonPartial" model="item" />
                    }
                </tbody>

            </table>
        </div>
    </div>
}
else
{
    <span style="color:red">No country data available</span>
}