@model IEnumerable<Language>

@{
    ViewData["Title"] = "Languages ";
}


<h3> Languages </h3>

<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Add", "IDLanguages")'">Add Language</button>
    <br />
</div>

<div id="errorEFMessages"></div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col"> Name </th>
            <th scope="col"> Speakers </th>
            <th scope="col"> Details </th>
            <th scope="col"> Delete </th>
        </tr>
    </thead>


    @if (Model.Any() == true)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <partial name="_languageIDPartial" model="item" />
            }
        </tbody>
    }
</table>