@model City

@{
    ViewData["Title"] = "City Details ";
}


<h3> City Details </h3>

@if (Model != null)
{

    <div class="container" id="add">
        <form asp-controller="IDCities" asp-action="CityEdit" method="post" role="form">
            <div>
                <label asp-for="Id">City ID: @Model.Id </label><br />
                <input asp-for="Id" type="text" value="@Model.Id" hidden />
            </div>

            <div>
                <label asp-for="Name"></label><br />
                <input asp-for="Name" value="@Model.Name" /><br />
            </div>
            <div>
                <div class="control-label">Country</div>
                <select asp-for="CurrentCountryID" class="form-control" asp-items="ViewBag.Countries" ></select><br />
                <span style="color:rebeccapurple" asp-validation-for="CurrentCountryID"></span> <br />
            </div>
            <div>
                <input type="submit" class="btn btn-primary" name="btnEditCity" value="Save" />
            </div>
        </form>
        <br />
        <div>
            @if (Model.Citizens.Count() > 0)
            {
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Citizens</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (PersonModel item in Model.Citizens)
                        {
                            <partial name="_cityIDPersonPartial" model="item" />
                        }
                    </tbody>
                </table>

            }
        </div>
    </div>

}
else
{
    <span style="color:red">No city data available</span>
}