@model City



<tr>
    <td>
        <form asp-controller="IDCities" asp-action="Details" method="post" role="form">
        <div>
            <input asp-for="Id" value="@Model.Id" hidden />
            <input type="submit" class="btn btn-primary" name="btnToPersonLanguages" value="@Model.Name" />
        </div>
        </form>
    </td>
</tr>
