@model Country

<div class="container">
    <div class="row">
        <div class="col-sm-2">@Model.Name</div>
        <div class="col-sm-2">@Model.Cities.Count()</div>
        <div class="col-sm-2">
            <input type="button" class="btn btn-primary" onclick="countryDetails(this,  @Model.Id)" value="Details" />
        </div>
        <div class="col-sm-2">
            @if(Model.Cities.Count() == 0)
            {
                <input type="button" class="btn btn-primary" onclick="deleteEFCountryId(this,  @Model.Id)" value="&#10007;" />
            }
        </div>

    </div>
</div>