@model City



    <div class="row">
        <div class="col-sm-2">
            <form asp-controller="IDCities" asp-action="Details" method="post" role="form">
                <div>
                    <input asp-for="Id" value="@Model.Id" hidden /><br />
                    <input type="submit" class="btn btn-primary" name="btnToPersonLanguages" value="@Model.Name" />
                </div>
            </form>

        </div>
    </div>