@model Country

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Cities.Count()</td>
        <td>
                <form asp-controller="IDCountries" asp-action="Details" method="post" role="form">
                    <div>
                        <input asp-for="Id" value="@Model.Id" hidden />
                        <input type="submit" class="btn btn-primary" name="btnCountryDetails" value="Details" />
                    </div>
                </form>
        </td>

        <td>
                @if (Model.Cities.Count() == 0)
                {
                    <form asp-controller="IDCountries" asp-action="Delete" method="post" role="form">
                        <div>
                            <input asp-for="Id" value="@Model.Id" hidden /><br />
                            <input type="submit" class="btn btn-primary" name="btnCountryDelete" value="Delete" />
                        </div>
                    </form>
                }
        </td>
    </tr>
