@model IEnumerable<Language>


<div class="container" id="fet">
    <div class="row">
        <div class="col-sm-2"> Name </div>
        <div class="col-sm-2"> Speakers </div>
        <div class="col-sm-2"> Details </div>
        <div class="col-sm-1"> Delete </div>
    </div>
</div>

@if (Model.Any() == true)
{
    @foreach (var item in Model)
    {
        <partial name="_languageEFPartial" model="item" />
    }
}
