@model Language


    <tr>
        <td>@Model.Name</td>
        <td>@Model.PersonLanguages.Count()</td>
        <td>
            <form asp-controller="IDLanguages" asp-action="Details" method="post" role="form">
                <div>
                    <input asp-for="Id" value="@Model.Id" hidden />
                    <input type="submit" class="btn btn-primary" name="btnLanguageDetails" value="Details" />
                </div>
            </form>
        </td>

        <td>
            @if (Model.PersonLanguages.Count() == 0)
            {
                <form asp-controller="IDLanguages" asp-action="Delete" method="post" role="form">
                    <div>
                        <input asp-for="Id" value="@Model.Id" hidden />
                        <input type="submit" class="btn btn-primary" name="btnLanguageDelete" value="Delete" />
                    </div>
                </form>
            }
        </td>
    </tr>
