@model PersonMemory


<div class="container">
    <div class="row">
        <div class="col-sm-2"> Name </div>
        <div class="col-sm-2"> ID </div>

    </div>
</div>

@if (Model.Count > 0)
{
    @foreach (var item in Model.Read())
    {
<partial name="_limitedPersonPartial" model="item" />
    }
}
