@model PersonModel
<div class="container">
    <div class="row">
        <div class="col-sm-2"> ID </div>
        <div class="col-sm-2"> Name </div>
        <div class="col-sm-2"> City </div>
        <div class="col-sm-2"> Phone </div>
    </div>
    
    @if (Model != null)
    {
        <div class="row">
            <div class="col-sm-2">@Model.Id </div>
            <div class="col-sm-2">@Model.Name </div>
            <div class="col-sm-2">@Model.CurrentCity.Name </div>
            <div class="col-sm-2">@Model.Phone </div>
        </div>
    }
</div>
