@model PersonLanguage

<tr>
    <td>@Model.Language.Name</td>

    <td>
        @if (User.IsInRole("Admin"))
        {
            <form asp-controller="IDPeople" asp-action="LanguageDelete" method="post" role="form">
                <div>
                    <input asp-for="PersonId" value="@Model.PersonId" hidden />
                    <input asp-for="LanguageId" value="@Model.LanguageId" hidden />
                    <input type="submit" class="btn btn-primary" name="btnPersonLangDel" value="Delete" />
                </div>
            </form>
        }
    </td>
 
</tr>