
@{
    ViewData["Title"] = "Ajax";
}

<h1>Ajax</h1>

<div id="errorMessages"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary" onclick="listThePeople()" value="List the People" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
                <label for="personIdInput">Person ID</label>
                <input id="personIdInput" type="number" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary" onclick="detailsView()" value="Details For Person" />
        </div>
        <div class="col-sm-3">
            <input type="button" class="btn btn-primary" onclick="deleteId()" value="Delete Person" />
        </div>
    </div>
    <div id="PersonList"></div>
</div>


